[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd2.service
After=etcd2.service

[Service]
ExecStart=/usr/bin/rkt run \
 --volume=volume-etc-kubernetes,kind=host,source=/etc/kubernetes \
 --volume=volume-etc-ssl-certs,kind=host,source=/usr/share/ca-certificates \
 --volume=volume-var-run-kubernetes,kind=host,source=/var/run/kubernetes \
 https://storage.googleapis.com/rktscience/kube-apiserver-0.19.0-linux-amd64.aci \
 -- \
 --etcd-servers=http://127.0.0.1:2379 \
 --insecure-bind-address=0.0.0.0 \
 --insecure-port=8080 \
 --logtostderr=true \
 --service-cluster-ip-range=10.200.20.0/24 \
 --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
